.menu-list-block{
border-right: 1px solid black;
}
.menu-list-block h2{
  text-align: center;
}
.menu-single-block h1{
text-align: center;
}
.menus-list h1{
  text-align: center;
}



.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }

    .radio {
      border: none;
      float: left;
    }

    .radio > label input {
      display: none;
    }
    .radio > label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }

    .radio > .half:before {
      content: "\f089";
      position: absolute;
    }

    .radio > label {
      color: #ddd;
     float: right;
    }

.radio label input:checked > label{
    color: black;
}
     /* show gold star when clicked */
    .radio:not(:checked) > label:hover, /* hover current star */
    .radio:not(:checked) > .radio label:hover ~ .radio label { color: #FFD700;  } /* hover previous stars in list */

    .radio > label input:checked + label:hover, /* hover current star when changing rating */
    .radio > label input:checked ~ label:hover,
    .radio > label:hover ~ label input:checked ~ label, /* lighten current selection */
    .radio > label input:checked ~ label:hover ~ label { color: #FFED85;  }
