.menu-list-block{
border-right: 1px solid black;
}
.menu-list-block h2{
  text-align: center;
}
.menu-single-block h1{
text-align: center;
}
.menus-list h1{
  text-align: center;
}



.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }

#menu_like_rating .radio & > input label {
        /* only enough room for the star */
        display: inline-block;
        overflow: hidden;
        text-indent: 9999px;
        width: 1em;
        white-space: nowrap;
        cursor: pointer;
      }
#menu_like_rating .radio  & > input label:before {
          display: inline-block;
          text-indent: -9999px;
          content: '\2606';
          color: #888;
        }

#menu_like_rating .radio  & > input:checked ~ label:before,
        & + label:hover ~ label:before,
        & + label:hover:before {
        content: '\2605';
        color: #e52;
        text-shadow: 0 0 1px #333;
      }


    /* the hidden clearer */
    & > .star-cb-clear + label {
      text-indent: -9999px;
      width: .5em;
      margin-left: -.5em;
    }
    & > .star-cb-clear + label:before {
      width: .5em;
    }

    &:hover > input + label:before {
      content: '\2606';
      color: #888;
      text-shadow: none;
    }
    &:hover > input + label:hover ~ label:before,
    &:hover > input + label:hover:before {
      content: '\2605';
        color: #e52;
      text-shadow: 0 0 1px #333;
    }
  }
