/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
.DS_Store
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
composer.phar
